<h2>Editing <%= singular_name %></h2>

<%% form_for(@<%= singular_name %>, :url => [:admin, @<%= singular_name %>], :html => {:class => 'tabular'}) do |form| %>
  <%%= form.error_messages %>

  <%%= render :partial => form %>

  <%%= form.submit 'Update' %>
  <%%= link_to 'Show', [:admin, @<%= singular_name %>] %>
  <%%= link_to 'Back', admin_<%= plural_name %>_path %>
<%% end %>