<div class="contextual">
  <%%= link_to 'Edit', edit_admin_<%= singular_name %>_path(@<%= singular_name %>), :class => 'icon icon-edit' %>
  <%%= link_to 'Destroy', [:admin, @<%= singular_name %>], :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon-del' %>
</div>

<h2><%= singular_name.capitalize %> <%%= @<%= singular_name %>.id %></h2>

<div class="box">
<% for attribute in attributes -%>
  <p>
    <b><%= attribute.human_name %>:</b>
    <%%=h @<%= singular_name %>.<%= attribute.name %> %>
  </p>
<% end -%>
</div>

<%%= link_to 'Edit', edit_admin_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to 'Back', admin_<%= plural_name %>_path %>